BETTOR_CPF=<CPF_DO_APOSTADOR>
BETTOR_PASSWORD=<SENHA_DO_APOSTADOR>
ONLINE_LOTTERY_URL=https://www.loteriasonline.caixa.gov.br
TERMS_OF_USE_PATH='/silce-web/#/termos-de-uso'
HOME_PATH='/silce-web/#/home'
CLIENT_ID=cli-web-lce
LOGIN_URL=https://login.caixa.gov.br
EXECUTION_ID=<EXECUTION_ID_DA_SESSAO>
GMAIL_READER_URL=http://localhost:8001
MAIL_SENDER_URL=http://localhost:8002
WHATSAPP_NOTIFY_URL=http://localhost:8003
VALIDATION_CODE_WAIT_TIMEOUT_SECONDS=30
WHATSAPP_HEADLESS=true
WHATSAPP_ENABLED=true
WHATSAPP_TIMEOUT_SECONDS=10
WHATSAPP_CONTACT='Notificação via App'
MAIL_TO=<EMAIL_DESTINATARIO>
MAIL_CONTENT_TYPE=HTML
SELECTED_LOTTERY_MODALITY=mega-sena
BET_NUMBER_SELECTION_PATH='/silce-web/#/{lottery_modality}'
PAYMENT_METHOD_SELECTION_PATH='/silce-web/#/carrinho/pagamento#container-meio-pagamento'
CREDIT_CARD_LAST_DIGITS=<ULTIMOS_4_DIGITOS_DO_CARTAO>
CREDIT_CARD_SECURITY_CODE=<CVV>
CONFIRM_PAYMENT=false
BET_PROCESSING_PATH='/silce-web/#/carrinho/processamento'
BROWSER_PROFILE_DIR=.lotobot-profile
BROWSER_HEADLESS=false
BROWSER_TIMEOUT_SECONDS=5
LOG_LEVEL=INFO
