CPF='<CPF_DO_APOSTADOR>'
SENHA='<SENHA_DO_APOSTADOR>'

URL_LOTERIAS_ONLINE='https://www.loteriasonline.caixa.gov.br'
URL_TERMO_DE_USO='https://www.loteriasonline.caixa.gov.br/silce-web/#/termos-de-uso'
URL_HOME='https://www.loteriasonline.caixa.gov.br/silce-web/#/home'
CLIENT_ID='cli-web-lce'
URL_LOGIN_CAIXA='https://login.caixa.gov.br'
EXECUTION='<EXECUTION_ID_DA_SESSAO>'

URL_GMAIL_READER='http://localhost:8001'
URL_MAIL_SENDER='http://localhost:8002'
URL_WHATSAPP_NOTIFY='http://localhost:8003'

VALIDATION_CODE_WAIT_TIMEOUT_SECONDS=30
WHATSAPP_HEADLESS=true
WHATSAPP_ENABLED=true
WHATSAPP_TIMEOUT_SECONDS=60
WHATSAPP_CONTACT='Notificação via App'

MAIL_TO='<EMAIL_DESTINATARIO>'
MAIL_TYPE=HTML

MODALIDADE_SELECIONADA='mega-sena'
URL_ESCOLHE_NUMEROS_APOSTA='https://www.loteriasonline.caixa.gov.br/silce-web/#/mega-sena'
URL_SELECIONA_PIX_OU_CARTAO='https://www.loteriasonline.caixa.gov.br/silce-web/#/carrinho/pagamento#container-meio-pagamento'

FINAL_CARTAO_CREDITO='<ULTIMOS_4_DIGITOS_DO_CARTAO>'
CODIGO_DE_SEGURANCA_DO_CARTAO_DE_CREDITO='<CVV>'
CONFIRMA_PAGAMENTO=false

URL_FINALIZA_A_APOSTA_PROCESSANDO='https://www.loteriasonline.caixa.gov.br/silce-web/#/carrinho/processamento'
LOTTOBOT_BROWSER_PROFILE_DIR='.lotobot-profile'
LOTTOBOT_BROWSER_HEADLESS=false
LOTTOBOT_BROWSER_TIMEOUT_SECONDS=30
LOTTOBOT_AUTH_CHECK_TIMEOUT_SECONDS=10
LOG_LEVEL=INFO
